body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;

  .menu {
    font-size: 1.2em;
  }

  .banner {
    background-image: url("../img/banner.png");
    filter: opacity(0.8);
    height: 350px;

    .tituloPrincipal {
      text-align: center;
      font-size: 5em;
      padding-top: 150px;
      font-weight: 900;
    }
  }

  .link {
    text-decoration: none;
    color: #EFF;
    font-size: 1.1em;

    &:hover {
      color: #2e7f99;
    }
  }

  .conteudo {
    
    background-color: #fff;
  }

  .footer {
    font-size: 1.1em;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    }
  }
