main {
    margin-bottom: 20px;
}

.font_2 {
    line-height: 1.4em;
    text-align: center;
    font-size: 62px
}

.color_18 {
    color: dodgerblue;
}

.espaco {
    letter-spacing: -0.05em
}

.backcolor-15 {
    background-color: black;
}

.alinhaform {
    align-self: start;
}

.formulario {
    height: auto;
    width: 489px
}

.backgroundform1 {
    background-color: #d5e7eb;
    height: 350px;
}
.backgroundform2{
    background-color: black;
    height: 200px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.caixatexto{
     text-align: center;
}
.caixatexto p{
margin: 3px;
}
footer {
    bottom: 0;
    left: 0;
    height: 530px;
    width: 100%;
}